* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    // background-color: rebeccapurple;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-areas: "taskList" "form";
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 2%;

    .taskList {
        grid-area: "taskList";
        // background-color: burlywood;
        padding: 2%;

    }

    .form {
        grid-area: "form";
        // background-color: whitesmoke;
        padding: 2%;

    }
}